<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	
	
	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider user-service-ref="userService">
			<sec:password-encoder ref="bcrptPasswordEncoder" />
		</sec:authentication-provider>
	</sec:authentication-manager>
	
	<!-- 스프링 시큐리티 설정파일 -->
	<sec:http use-expressions="true">
		<!-- ACL(Access Control List) 접근 제어목록 설정 -->
		<sec:intercept-url pattern="/menu/**" access="hasAuthority('MEMBER')"/>
		<sec:intercept-url pattern="/**" access="permitAll" />
		<sec:remember-me data-source-ref="dataSource" />
		
		<!-- 로그인 페이지 설정 => 로그인 페이지, 로그인 실패와 성공시, 로그인 id용 파라미터와 패스워드용 파라미터를 지정함 -->
		<sec:form-login login-processing-url="/auth/login" username-parameter="user_id" password-parameter="user_pwd"
		authentication-success-forward-url="/" login-page="/auth/login"
		 default-target-url="/" authentication-failure-handler-ref="loginFailureHandler"
		 authentication-success-handler-ref="LoginSuccessHandler"
		/> 
			
		<sec:logout logout-url="/auth/logout" logout-success-url="/" invalidate-session="true" /> 
		<sec:csrf disabled="true" />
	</sec:http>
	
	<bean id="bcrptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<bean id="userService" class="com.kokochi.samp.security.UserDetailService" />
	<bean id="loginFailureHandler" class="com.kokochi.samp.security.LoginFailureHandler">
		<property name="user_id" value="user_id" />
		<property name="user_pwd" value="user_pwd" />
		<property name="error_name" value="error_name" />
		<property name="defaultFailureUrl" value="/auth/login" />
	</bean>
	<bean id="LoginSuccessHandler" class="com.kokochi.samp.security.LoginSuccessHandler" />
	
	
</beans>
