<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Favicons -->
    <!-- <link href="assets/img/favicon.png" rel="icon"> -->
    <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body>

<!-- HeadSlider -->
<section id="headslider">
    <div id="headslider-container" class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-active">
            <div class="imageBox">
              <div class="img">
                <img src="https://static-cdn.jtvnw.net/previews-ttv/live_user_kimdoe-400x250.jpg"
                 alt="방송이미지" width="100%">
              </div>
              <div class="info">
                <div class="profile_img">
                  <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/59b10cc7-772e-48a9-92df-066e9a35862b-profile_image-300x300.jpg" alt=""
                    width="100%">
                </div>
                <div class="user_name">나나양(nanayang)</div>
                <div class="stream_game">PUBG:BATTLEGROUNDS</div>
                <div class="viewer_count">시청자 500000명</div>
                <div class="started_date">2시간전</div>
              </div>          
            </div>
        </div>
      </div>
      <div id="hero-pagination" class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  
</section><!-- End HeadSlider -->
    
<!-- Vendor JS Files -->
<script src="${path}/assets/js/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="${path}/assets/js/main.js"></script>

<!-- Bootstrap JS File -->
<script src="${path}/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>