<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Eterna Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body>
  <!-- 뷰 작성을 위한 레이아웃 만들기 -->

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-lg-block">
    <div class="container d-flex">
      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html" title="홈페이지의 메인 타이틀입니다."><span>TITLE</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
      <div class="social-links">
        <a href="#" class="twitch"><i class="icofont-twitch" title="트위치 홈페이지로 이동하는 링크"></i></a>
        
        <div class="dropdown d-inline">
          <a href="#" class="login dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"><i class="icofont-user-alt-7" title="사용자의 로그인 상태를 표시해줌"></i></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><button class="dropdown-item" type="button" onclick="self.location='login.html'">로그아웃</button></li>
            <li><button class="dropdown-item" type="button" onclick="self.location='setting.html'">설정</button></li>
            <li><button class="dropdown-item" type="button" onclick="self.location='follow.html'">팔로우 채널 관리 </button></li>
            <li><button class="dropdown-item" type="button" onclick="self.location='myreplay.html'">다시보기 찜 관리</button></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li>설정</li>
      </ol>
      <h2>프로필</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Hero Section ======= -->
  <section id="content" class="content">
    <div class="container">

      <div class="row">

        <div class="col-lg-8 entries">

          <article class="entry">
            <form class="row">
              <div class="mb-3 col-4">
                <label class="form-label">트위치 아이디</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" disabled>
              </div>
              <div class="mb-3 col-4">
                <label class="form-label">트위치 닉네임</label>
                <input type="text" class="form-control" disabled>
              </div>
              <div class="mb-3 col-12">
                <label class="form-label">아이디</label>
                <input type="text" class="form-control col-4">
              </div>
              <div class="mb-3 col-12">
                <label class="form-label">비밀번호</label>
                <input type="password" class="form-control col-4">
              </div>
              <div class="mb-5 col-12">
                <label class="form-label d-block">이메일</label>
                <input type="password" class="form-control col-4 d-inline mr-3">@
                <input type="password" class="form-control col-4 d-inline ml-3">
              </div>

              <button type="submit" class="btn btn-success mr-3">변경하기</button>
              <button type="submit" class="btn btn-danger">삭제하기</button>
            </form>

          </article>

        </div><!-- End blog entries list -->

        <div class="col-lg-4">

          <div class="sidebar">
            <h3 class="sidebar-title">설정</h3>
            <div class="sidebar-item setting">
              <ul>
                <li class="active"><a href="#">프로필</a></li>
              </ul>

            </div><!-- End sidebar categories-->

          </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->

      </div>

    </div>
  </section><!-- End Blog Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Eterna</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>