






<!DOCTYPE html>
<html lang="ko">
<head>
  <title>TFM - 트위치 팔로우 관리자 : 메인 페이지</title>
  


<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<!-- Favicons -->
<!-- <link href="assets/img/favicon.png" rel="icon"> -->
<!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/swiper-bundle.min.css" rel="stylesheet">
<link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">


<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/main.css" rel="stylesheet">
</head> 
<body>
	



<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-lg-block">
	<div class="container d-flex">
		<div class="logo mr-auto">
			<h1 class="text-light">
				<a href="/" title="홈페이지의 메인 타이틀입니다."><span>TFM</span></a>
			</h1>
		</div>
		<div class="social-links">
			<a href="https://www.twitch.tv/" class="twitch" target="_blank"><i
				class="icofont-twitch" title="트위치 홈페이지로 이동하는 링크"></i></a>

			<div class="dropdown d-inline">
				<a href="#" class="login dropdown-toggle" id="dropdownMenu2"
					data-bs-toggle="dropdown" aria-expanded="false"><i
					class="icofont-user-alt-7" title="사용자의 로그인 상태를 표시해줌"></i></a>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
					
						<li><button class="dropdown-item" type="button">꼬꼬치꼬치님</button></li>
						<li>
							<form action="/auth/logout" method="post">
								<input type="submit" class="dropdown-item" value="로그아웃" />
							</form>
						</li>
					
					
					
					<li><button class="dropdown-item" type="button"
							onclick="location.href='/menu/setting'">설정</button></li>
					<li><button class="dropdown-item" type="button"
							onclick="location.href='/menu/managefollow'">팔로우 채널 관리</button></li>
					<li><button class="dropdown-item" type="button"
							onclick="location.href='/menu/replayvideo'">다시보기 찜 관리</button></li>
					<li><button class="dropdown-item" type="button"
							onclick="location.href='/test/form'">폼 테스트</button></li>
				</ul>
			</div>
		</div>
	</div>
</section>
	
	







<!-- HeadSlider -->
<section id="breadcrumbs" class="breadcrumbs">
	<div class="container">
		<h2>이춘향</h2>
	</div>
	<!-- 스트리머 상세보기 페이지에서 표시할 정보
		라이브 중인 경우 표시
		전체 스트리머들 중 랭킹 표시
		
	-->

</section>
<!-- End HeadSlider -->


<!-- Main -->
<main id="content">

	<!-- SearchBar  -->
	<section id="searchbar" class="searchbar">
		<div class="container">
			<div class="row">
				<div class="col-lg-6" style="margin: 0 auto;">
					<div class="input-group mb-3 mt-3">
						<input type="text" class="form-control" id="searchBar_text"
							placeholder="스트리머 찾기">
						<button class="searchBar_btn" id="searchBar_btn">
							<i class="icofont-ui-search icon"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	

	
		<!-- Sort Button List -->
		<section id="about" class="about">
			<div class="container">
	
				<div class="row">
					<div class="col-4 btn-danger p-3 text-sm-center listBtn"
						title="관리목록 다시보기">관리목록 다시보기</div>
					<div class="col-4 btn-dark p-3 text-sm-center listBtn"
						title="팔로우 다시보기">관리목록 라이브</div>
					<div class="col-4 btn-primary p-3 text-sm-center listBtn"
						title="관리목록 인기클립">관리목록 인기클립</div>
				</div>
	
			</div>
		</section>
		<!-- End About Section -->
	
		<!-- Video List -->
		<section id="services" class="services">
			<div class="container">
	
				<div class="section-title">
					<h2>관리목록 다시보기</h2>
				</div>
	
				<div class="row icon-set">
					
						<div class="col-lg-3 col-md-4 col-sm-6 d-flex flex-column mb-5">
							<div class="icon-box" title="방송목록">
								<a href="https://www.twitch.tv/videos/1114916169" class="linkBox" target="_blank">
									<img alt="" src="assets/img/default_image.jpg" 
										width="100%" />
								</a>
							</div>
							<div class="icon-info">
								<div class="profile">
									<img alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/29059451-a201-4422-b421-041e49d456f5-profile_image-300x300.png" width="100%" height="100%"/>
								</div>
								<div class="title text">ㅎㅇㅎㅇㅎ</div>
								<div class="name text">감블러</div>
								<div class="user_id displayNone">130445097</div>
								<div class="next_page displayNone">eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6MX19</div>
							</div>
						</div>
					
						<div class="col-lg-3 col-md-4 col-sm-6 d-flex flex-column mb-5">
							<div class="icon-box" title="방송목록">
								<a href="https://www.twitch.tv/videos/1114915680" class="linkBox" target="_blank">
									<img alt="" src="assets/img/default_image.jpg" 
										width="100%" />
								</a>
							</div>
							<div class="icon-info">
								<div class="profile">
									<img alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/1885f8ff-2f1e-4b5b-8e21-dfe56698640f-profile_image-300x300.png" width="100%" height="100%"/>
								</div>
								<div class="title text">뿡) 어라라라</div>
								<div class="name text">김뿡_</div>
								<div class="user_id displayNone">148871475</div>
								<div class="next_page displayNone">eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6MX19</div>
							</div>
						</div>
					
						<div class="col-lg-3 col-md-4 col-sm-6 d-flex flex-column mb-5">
							<div class="icon-box" title="방송목록">
								<a href="https://www.twitch.tv/videos/1114887296" class="linkBox" target="_blank">
									<img alt="" src="assets/img/default_image.jpg" 
										width="100%" />
								</a>
							</div>
							<div class="icon-info">
								<div class="profile">
									<img alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/dbd6b07a-ac47-4b61-85dc-3f6710f6e0c6-profile_image-300x300.png" width="100%" height="100%"/>
								</div>
								<div class="title text">강철의연금술사 같이보기 7시 24화 ٩(●'▿'●)۶ *  </div>
								<div class="name text">탬탬버린</div>
								<div class="user_id displayNone">133923936</div>
								<div class="next_page displayNone">eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6MX19</div>
							</div>
						</div>
					
						<div class="col-lg-3 col-md-4 col-sm-6 d-flex flex-column mb-5">
							<div class="icon-box" title="방송목록">
								<a href="https://www.twitch.tv/videos/1114839352" class="linkBox" target="_blank">
									<img alt="" src="https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/bf0565709d99f7e0f7d1_2chamcham2_43223525661_1628667504//thumb/thumb0-300x200.jpg" 
										width="100%" />
								</a>
							</div>
							<div class="icon-info">
								<div class="profile">
									<img alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/dbd6b07a-ac47-4b61-85dc-3f6710f6e0c6-profile_image-300x300.png" width="100%" height="100%"/>
								</div>
								<div class="title text">라고할뻔 방송켜서 소서리스 찍먹하고 강연봄٩(●'▿'●)۶ *  </div>
								<div class="name text">탬탬버린</div>
								<div class="user_id displayNone">133923936</div>
								<div class="next_page displayNone">eyJiIjp7Ik9mZnNldCI6MH0sImEiOnsiT2Zmc2V0IjoyfX0</div>
							</div>
						</div>
					
						<div class="col-lg-3 col-md-4 col-sm-6 d-flex flex-column mb-5">
							<div class="icon-box" title="방송목록">
								<a href="https://www.twitch.tv/videos/1114686908" class="linkBox" target="_blank">
									<img alt="" src="https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/281cb2357eb185a3f9c0_2chamcham2_43221079725_1628650008//thumb/thumb0-300x200.jpg" 
										width="100%" />
								</a>
							</div>
							<div class="icon-info">
								<div class="profile">
									<img alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/dbd6b07a-ac47-4b61-85dc-3f6710f6e0c6-profile_image-300x300.png" width="100%" height="100%"/>
								</div>
								<div class="title text">소서리스 찍먹 (해외 시청자님들 죄송해요 다시보기는 남아욧.. 낼부터 다시 생방볼수있음 ㅠ-ㅠ) ٩(●'▿'●)۶ *  </div>
								<div class="name text">탬탬버린</div>
								<div class="user_id displayNone">133923936</div>
								<div class="next_page displayNone">eyJiIjp7Ik9mZnNldCI6MX0sImEiOnsiT2Zmc2V0IjozfX0</div>
							</div>
						</div>
					
						<div class="col-lg-3 col-md-4 col-sm-6 d-flex flex-column mb-5">
							<div class="icon-box" title="방송목록">
								<a href="https://www.twitch.tv/videos/1114022758" class="linkBox" target="_blank">
									<img alt="" src="https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/d944eda8490f353cb327_kimdduddi_43212646781_1628606462//thumb/thumb0-300x200.jpg" 
										width="100%" />
								</a>
							</div>
							<div class="icon-info">
								<div class="profile">
									<img alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/ee387ddb-7abc-45f3-9208-c5f909f26a98-profile_image-300x300.png" width="100%" height="100%"/>
								</div>
								<div class="title text">[김뚜띠] </div>
								<div class="name text">김뚜띠_</div>
								<div class="user_id displayNone">148934000</div>
								<div class="next_page displayNone">eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6MX19</div>
							</div>
						</div>
					
						<div class="col-lg-3 col-md-4 col-sm-6 d-flex flex-column mb-5">
							<div class="icon-box" title="방송목록">
								<a href="https://www.twitch.tv/videos/1113900346" class="linkBox" target="_blank">
									<img alt="" src="https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/d79aadc61fb10c7806f2_9ambler_43211167613_1628593525//thumb/thumb0-300x200.jpg" 
										width="100%" />
								</a>
							</div>
							<div class="icon-info">
								<div class="profile">
									<img alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/29059451-a201-4422-b421-041e49d456f5-profile_image-300x300.png" width="100%" height="100%"/>
								</div>
								<div class="title text">ㅎㅇㅎㅇㅎ</div>
								<div class="name text">감블러</div>
								<div class="user_id displayNone">130445097</div>
								<div class="next_page displayNone">eyJiIjp7Ik9mZnNldCI6MH0sImEiOnsiT2Zmc2V0IjoyfX0</div>
							</div>
						</div>
					
						<div class="col-lg-3 col-md-4 col-sm-6 d-flex flex-column mb-5">
							<div class="icon-box" title="방송목록">
								<a href="https://www.twitch.tv/videos/1113884698" class="linkBox" target="_blank">
									<img alt="" src="https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/4e3671240ca58328f6f8_jinu6734_43210932253_1628591281//thumb/thumb0-300x200.jpg" 
										width="100%" />
								</a>
							</div>
							<div class="icon-info">
								<div class="profile">
									<img alt="" src="https://static-cdn.jtvnw.net/jtv_user_pictures/d48767c9-fef7-48cf-9e10-e3baffefbb19-profile_image-300x300.png" width="100%" height="100%"/>
								</div>
								<div class="title text">[ 지누 ]</div>
								<div class="name text">김진우</div>
								<div class="user_id displayNone">131925215</div>
								<div class="next_page displayNone">eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6MX19</div>
							</div>
						</div>
					
				</div>
				<div class="service_last_box"></div>
			</div>
			<div class="col-3 btn-danger p-3 text-sm-center addMore m-auto">더 보기</div>
		</section>
		<!-- End Services Section -->
	
</main>
<!-- End #main -->

<script src="assets/js/main.js"></script>

	
	

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>kokochikochi</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
	


<!-- Vendor JS Files -->
<script src="assets/js/swiper-bundle.min.js"></script>

<!-- Bootstrap JS File -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>