<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div class="btn">abc</div>
	<div id="wrap"></div>
	<script>
		let btn = document.querySelector('.btn')
		let wrap = document.querySelector('#wrap')
		btn.addEventListener('click', btnEvent)
		function btnEvent(target) {
			console.log(target)
		}
	</script>
</body>

</html>