<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kokochi.samp.mapper.ClipTwitchMapper">

    <!-- 특정 클립 가져오기 -->
    <select id="read" resultType="ClipTwitchVO" parameterType="ClipTwitchVO">
        SELECT id, url, embed_url, broadcaster_id, broadcaster_name, creator_id, creator_name, video_id, game_id, language, title, view_count, created_at, thumbnail_url, duration
        FROM clip_twitch
        WHERE 1 = 1
            <if test="id    !=null">AND id = #{id}</if>
    </select>

    <!-- 클립 리스트 가져오기 -->
    <select id="readList" resultType="ClipTwitchVO" parameterType="ClipTwitchVO">
        SELECT id
             , url
             , embed_url
             , broadcaster_id
             , broadcaster_name
             , creator_id
             , creator_name
             , video_id
             , game_id
             , language
             , title
             , view_count
             , created_at
             , thumbnail_url
             , duration
        FROM clip_twitch
        <where>
            <if test="broadcaster_id    !=null">AND broadcaster_id = #{broadcaster_id}</if>
            <if test="broadcaster_name  !=null">AND broadcaster_name = #{broadcaster_name}</if>
        </where>
        ORDER BY created_at DESC
        LIMIT #{page} OFFSET #{index}

    </select>

    <!-- 관리 목록의 인기클립 가져오기 -->
    <select id="readRecentFollowList" resultType="ClipTwitchVO" parameterType="ClipTwitchVO">
        SELECT ct.id, ct.url, ct.embed_url, ct.broadcaster_id, ct.broadcaster_name, ct.creator_id, ct.creator_name, ct.video_id,
        ct.game_id, ct.language, ct.title, ct.view_count, ct.created_at, ct.thumbnail_url, ct.duration, ut.profile_image_url profile_image_url,
        (ct.view_count / ((dayofyear(now()) - dayofyear(ct.created_at) + ((year(now()) - year(ct.created_at)) * 365 )) * (dayofyear(now()) - dayofyear(ct.created_at) + ((year(now()) - year(ct.created_at)) * 365 )))  ) points
        FROM managed_follow mf
        LEFT JOIN user_twitch ut ON mf.to_user = ut.id
        LEFT OUTER JOIN clip_twitch ct ON ct.broadcaster_id = ut.id
        WHERE mf.user_id = #{user_id}
        <if test="points    !=null">AND (ct.view_count /((dayofyear(now()) - dayofyear(ct.created_at) + ((year(now()) - year(ct.created_at)) * 365 )) * (dayofyear(now()) - dayofyear(ct.created_at) + ((year(now()) - year(ct.created_at)) * 365 )))  ) <![CDATA[<]]> #{points}</if>
        ORDER by points desc limit #{limit};
    </select>

    <!-- 클립 생성 -->
    <insert id="create" parameterType="ClipTwitchVO">
        INSERT INTO clip_twitch(id, url, embed_url, broadcaster_id, broadcaster_name, creator_id, creator_name, video_id, game_id, language, title, view_count, created_at, thumbnail_url, duration)
        VALUES(#{id}, #{url}, #{embed_url}, #{broadcaster_id}, #{broadcaster_name}, #{creator_id}, #{creator_name}, #{video_id}, #{game_id}, #{language}, #{title} , #{view_count} , #{created_at} , #{thumbnail_url}, #{duration} )
    </insert>

    <!-- 클립 제거 Id -->
    <delete id="deleteById" parameterType="String">
        DELETE FROM clip_twitch
        WHERE id = #{id}
    </delete>

    <!-- 클립 제거 broadcaster_id -->
    <delete id="deleteByUserId">
        DELETE FROM clip_twitch
        WHERE broadcaster_id = #{broadcaster_id}
    </delete>

</mapper>