<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kokochi.samp.mapper.ManagedFollowMapper">

	
	<select id="isManaged" resultType="ManagedFollow">
		SELECT user_id, to_user
		FROM managed_follow
		WHERE user_id = #{user_id} AND to_user = #{to_user}
	</select>
	
	<insert id="addManage">
		INSERT INTO managed_follow(user_id, to_user)
		VALUES(#{user_id}, #{to_user})
	</insert>
	
	<delete id="deleteManage">
		DELETE FROM managed_follow
		WHERE user_id = #{user_id} AND to_user = #{to_user}
	</delete>
	
	<select id="list" resultType="ManagedFollow">
		SELECT user_id, to_user
		FROM managed_follow
		WHERE user_id = #{user_id}
	</select>
	
	<select id="list_num" resultType="ManagedFollow">
		SELECT user_id, to_user
		FROM managed_follow
		WHERE user_id = #{user_id}
		ORDER BY to_user
		LIMIT #{left_num}, #{right_num}
	</select>
	
</mapper>