<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kokochi.samp.mapper.ManagedFollowMapper">

	
	<!--<select id="isManaged" resultType="ManagedFollowVO">
		SELECT id, user_id, to_user
		FROM managed_follow
		WHERE id = #{id}
	</select>
-->
	<select id="selectManaged" resultType="ManagedFollowVO">
		SELECT id, user_id, to_user
		FROM managed_follow
		WHERE 1 = 1
		<if test='id != null'>
			AND id = #{id}
		</if>
		<if test='userId != null'>
			AND user_id = #{userId}
		</if>
		<if test='toUser != null'>
			AND to_user = #{toUser}
		</if>
	</select>

	<insert id="addManage">
		INSERT INTO managed_follow
		    (id, user_id, to_user)
		VALUES
			(#{id}, #{userId}, #{toUser})
	</insert>
	
	<delete id="deleteManage">
		DELETE FROM managed_follow
		WHERE id = #{id}
	</delete>
	
	<select id="selectManagedListByUserId" resultType="ManagedFollowVO">
		SELECT id, user_id, to_user
		FROM managed_follow
		WHERE user_id = #{userId}
	</select>
	
<!--	<select id="list_num" resultType="ManagedFollowVO">
		SELECT user_id, to_user
		FROM managed_follow
		WHERE user_id = #{user_id}
		ORDER BY to_user
		LIMIT #{left}, #{right}
	</select>-->
	
</mapper>