<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kokochi.samp.mapper.UserMapper">
	
	<resultMap type="com.kokochi.samp.domain.Member" id="memberMap">
		<id property="user_id" column="user_id "/>
		<result property="user_pwd" column="user_pwd "/>
		<result property="user_email" column="user_email "/>
		<result property="user_nickname" column="user_nickname "/>
		<result property="twitch_user_id" column="twitch_user_id "/>
	</resultMap>
	
	<resultMap type="com.kokochi.samp.domain.MemberAuth" id="authMap">
		<result property="user_id" column="user_id"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	<select id="readUser" resultType="Member">
		SELECT user_id, user_pwd, user_nickname, user_email, twitch_user_id, enable
		FROM user
		WHERE user_id = #{user_id}
	</select>
	
	<select id="readUserByTwitchId" resultType="Member">
		SELECT user_id, user_pwd, user_nickname, user_email, twitch_user_id, enable
		FROM user
		WHERE twitch_user_id = #{twitch_user_id}
	</select>
	
	<select id="readAuth" resultType="MemberAuth">
		SELECT user_id, authority
		FROM user_auth
		WHERE user_id = #{user_id}
	</select>
	
	<insert id="create">
		INSERT INTO user(user_id, user_pwd, user_email, user_nickname, twitch_user_id)
		VALUES(#{user_id}, #{user_pwd}, #{user_email}, #{user_nickname}, #{twitch_user_id})
	</insert>
	
	<delete id="delete">
		DELETE FROM user
		WHERE user_id = #{user_id}
	</delete>
	
	<update id="update">
		UPDATE user
		SET user_pwd = #{user_pwd}, user_email = #{user_email}, user_nickname = #{user_nickname}, twitch_user_id = #{twitch_user_id}, enable = #{enable}
		WHERE user_id = #{user_id}
	</update>
	
	<select id="userList" resultType="Member">
		SELECT user_id, user_pwd, user_email, user_nickname, twitch_user_id, enable
		FROM user
	</select>
	
	<insert id="addAuth">
		INSERT INTO user_auth(user_id, authority)
		VALUES(#{user_id}, #{authority})
	</insert>
	
	<delete id="delAuth">
		DELETE FROM user_auth
		WHERE user_id = #{user_id} AND authority = #{authority}
	</delete>
	
</mapper>