<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kokochi.samp.mapper.UserMapper">
	
	<resultMap type="com.kokochi.samp.domain.MemberVO" id="memberMap">
		<id property="id" column="id"/>
		<result property="user_id" column="user_id"/>
		<result property="user_pwd" column="user_pwd"/>
		<result property="user_email" column="user_email"/>
		<result property="user_nickname" column="user_nickname"/>
		<result property="enable" column="enable"/>
		<result property="OAuth2_token" column="OAuth2_token"/>
		<result property="twitch_user_id" column="twitch_user_id"/>
		<result property="twitch_user_login" column="twitch_user_login"/>
	</resultMap>
	
	<resultMap type="com.kokochi.samp.domain.MemberAuthVO" id="authMap">
		<id property="id" column="id"/>
		<result property="user_id" column="user_id"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	<select id="readUser" resultType="MemberVO">
		SELECT id, user_id, user_pwd, user_nickname, user_email, twitch_user_id, twitch_user_login, enable, OAuth2_token
		FROM user
		WHERE id = #{id}
	</select>

	<select id="readUserByUserId" resultType="MemberVO">
		SELECT id, user_id, user_pwd, user_nickname, user_email, twitch_user_id, twitch_user_login, enable, OAuth2_token
		FROM user
		WHERE user_id = #{user_id}
	</select>

	<select id="readUserByTwitchId" resultType="MemberVO">
		SELECT id, user_id, user_pwd, user_nickname, user_email, twitch_user_id, twitch_user_login, enable, OAuth2_token
		FROM user
		WHERE twitch_user_id = #{twitch_user_id}
	</select>
	
	<insert id="create">
		INSERT INTO user(id, user_id, user_pwd, user_email, user_nickname, twitch_user_id, twitch_user_login)
		VALUES(#{id}, #{user_id}, #{user_pwd}, #{user_email}, #{user_nickname}, #{twitch_user_id}, #{twitch_user_login})
	</insert>
	
	<delete id="delete">
		DELETE FROM user
		WHERE id = #{id}
	</delete>
	
	<update id="update" parameterType="MemberVO">
		UPDATE user
		<trim prefix="set" prefixOverrides=",">
			<if test="user_pwd			!=null">, user_pwd = #{user_pwd}</if>
			<if test="user_email		!=null">, user_email = #{user_email}</if>
			<if test="user_nickname		!=null">, user_nickname = #{user_nickname}</if>
			<if test="twitch_user_id	!=null">, twitch_user_id = #{twitch_user_id}</if>
			<if test="twitch_user_login	!=null">, twitch_user_login = #{twitch_user_login}</if>
			<if test="enable     		!=null">, enable = #{enable}</if>
			<if test="OAuth2_token     	!=null">, OAuth2_token = #{OAuth2_token}</if>
		</trim>
		WHERE 1 = 1
		<if test="id				!=null">AND id = #{id}</if>
		<if test="user_id			!=null">AND user_id = #{user_id}</if>
	</update>
	
	<select id="userList" resultType="MemberVO">
		SELECT user_id, user_pwd, user_email, user_nickname, twitch_user_id, twitch_user_login, enable, OAuth2_token
		FROM user
	</select>

	<select id="readAuthList" resultType="MemberAuthVO">
		SELECT id, user_id, authority
		FROM user_auth
		WHERE user_id = #{user_id}
	</select>
	
	<insert id="addAuth">
		INSERT INTO user_auth(id, user_id, authority)
		VALUES(#{id}, #{user_id}, #{authority})
	</insert>
	
	<delete id="delAuth">
		DELETE FROM user_auth
		WHERE id = #{id}
	</delete>
	
</mapper>